#fim{
	width:1150px;
	height:555px;
	margin:auto;
	border:1px solid #660000;
	background-color:#660000;

}

#fim2{
width:1124px;
height:520px;
margin-left:10px;
margin-top:5px;
background-color:#FAFAD2;
border:3px solid #FFA500;
}